@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .navigationBar {
        height: 70px;
        background-color: black;
        width: 1200px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        overflow: hidden;
    }
    .navBarContent {
        color: white;
        list-style: none;
        text-align: center;
        font-size: 15px;
    }
    .navBarContent li {
        display: inline;
        font-size: 2.5em;
        padding: 12px 17px;
        text-align: center;
    }
    .c1 {
        float: left;
        margin-top: -8px;
        margin-left: -40px;
    }
    .c1:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
    .c2 h4 {
        color: white;
        margin-top: -45px;
        font-size: 1.2em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
    }
    .c2:hover {
        cursor: pointer;
    }
    .c3 {
        float: right;
        margin-top: -120px;
        font-family: 'Oxygen', sans-serif;
    }
    .c3:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
    .midPart {
        position: relative;
        width: 1200px;
        height: 200vh;
        margin-top: -19px;
        margin-left: auto;
        margin-right: auto;
    }
    .container1 {
        justify-content: center;
        text-align: center;
        width: 1200px;
        background-color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
    }
    .container2 {
        justify-content: center;
        text-align: center;
        width: 1200px;
        height: 361px;
        margin-top: -27px;
        background-color: black;
        overflow: hidden;
    }
    #Img1 {
        transform: translateY(-100px);
    }
    .container3 {
        justify-content: center;
        width: 1200px;
        height: 420px;
        margin-top: -31px;
        background-color: white;
    }
    #textMenu {
        color: black;
        font-size: 3.5em;
        letter-spacing: 5px;
        font-family: 'Dancing Script', cursive;
    }
    .dropdown {
        position: relative;
        height: 10vh;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .sectionBtn {
        margin-top: 25px;
        margin-left: -90px;
        width: 250px;
        height: 50px;
        font-family: 'Oxygen', sans-serif;
        outline: 0;
        border: 0;
        font-size: 1.5em;
    }
    .menuSection .sectionS {
        margin-top: 5px;
        margin-left: -60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        width: 150px;
        height: 200px;
        background: gray;
        left: 0px;
        list-style: none;
        border-radius: 5px;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.4s ease;
    }
    .menuSection .sectionList {
        margin-left: -40px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .menuSection .sectionList:hover {
        background-color: black;
    }
    .menuSection .sectionBtn:focus+.sectionS {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }
    .slideShow {
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
        width: 900px;
        height: 300px;
        overflow: hidden;
        border-radius: 5px;
    }
    .navigation {
        margin-left: 332px;
        height: 60px;
        display: flex;
        transform: translateX(100px);
    }
    .bar {
        width: 60px;
        height: 10px;
        border: 2px solid black;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        transform: translateY(-20px);
        transition: 0.4s;
    }
    .bar:hover {
        background: gray;
    }
    input[name="slide"] {
        visibility: hidden;
    }
    .slides {
        width: 722%;
        height: 100%;
        display: flex;
    }
    .foodItemContainer {
        text-align: center;
        transform: translateX(-146px);
        width: 900px;
        height: 300px;
        background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
        border-radius: 5px;
    }
    #foodImage {
        height: 300px;
        float: left;
    }
    #menuItem {
        color: red;
        margin-top: -5px;
        font-size: 2.5em;
        font-family: 'Kanit', sans-serif;
    }
    #itemDescription {
        margin-top: -30px;
        color: black;
        font-size: 1.5em;
        font-family: 'Oxygen', sans-serif;
    }
    #addToCartBtn {
        background-color: blue;
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.2em;
    }
    #addToCartBtn:hover {
        background-color: lightblue;
        color: black;
        cursor: pointer;
    }
    #buyNOW {
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    #slide1:checked~.s1 {
        transition: ease-in 1s;
        margin-left: 1.29%;
    }
    #slide2:checked~.s1 {
        transition: ease-in 1s;
        margin-left: -12.56%;
    }
    #slide3:checked~.s1 {
        transition: ease-in 1s;
        margin-left: -26.41%;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
    }
    .container4 {
        justify-content: center;
        width: 1200px;
        height: 600px;
        margin-top: 105px;
        background-color: grey;
    }
    .aboutContainer {
        justify-content: center;
        text-align: center;
        width: 500px;
        height: 500px;
        margin-left: 100px;
        margin-top: 40px;
        float: left;
    }
    #chefImage {
        width: 300px;
        height: 400px;
    }
    #aboutInfo {
        font-family: 'Oxygen', sans-serif;
    }
    #toAboutBtn {
        background-color: blue;
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        font-size: 1.3em;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', cursive;
    }
    #toAboutBtn:hover {
        background-color: lightblue;
        color: black;
        cursor: pointer;
        font-family: 'Bebas Neue', cursive;
    }
    .blogContainer {
        justify-content: center;
        text-align: center;
        width: 500px;
        height: 500px;
        margin-top: 40px;
        margin-right: 100px;
        float: right;
    }
    #blogContainerImage {
        width: 300px;
        height: 400px;
    }
    #blogInfo {
        font-family: 'Oxygen', sans-serif;
    }
    #toBlogBtn {
        background-color: blue;
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        font-size: 1.3em;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', cursive;
    }
    #toBlogBtn:hover {
        background-color: lightblue;
        color: black;
        cursor: pointer;
        font-family: 'Bebas Neue', cursive;
    }
    footer {
        margin-top: 85px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {}

@media screen and (min-width: 800px) and (max-width: 1000px) {}

@media screen and (min-width: 600px) and (max-width: 800px) {}

@media screen and (min-width: 400px) and (max-width: 600px) {}

@media screen and (min-width: 300px) and (max-width: 400px) {}

@media screen and (max-width: 300px) {}