@media screen and (min-width: 1200px) {
    .navigationBar {
        height: 70px;
        background-color: black;
        width: 1200px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 20px;
        display: block;
        text-align: center;
        font-size: 2.5em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: 2.2em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 20px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 1200px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    #quantityofPizza {
        margin-left: 415px;
        font-size: 1.5em;
        color: black;
        background-color: #c1d1d6;
        font-family: 'Fira Sans', sans-serif;
    }
    #PizzaQuantity {
        width: 60px;
        font-size: 15px;
        padding-top: 7px;
        font-size: 1.5;
    }
    .textADDpizza {
        margin-top: 30px;
        margin-left: 420px;
        width: max-content;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        cursor: pointer;
    }
    .textADDpizza:hover {
        color: gray;
    }
    .specialInstructions {
        background-color: silver;
        width: 560px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 500px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 560px;
        height: 330px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #fNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #lNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryAddressinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryEmailinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryNumberinput {
        margin-right: 80px;
        float: right;
        width: 210px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 200px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .navigationBar {
        height: 70px;
        background-color: black;
        width: 1000px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 20px;
        display: block;
        text-align: center;
        font-size: 2.5em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: 2.2em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 20px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 1000px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    .specialInstructions {
        background-color: silver;
        width: 560px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 500px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 560px;
        height: 330px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #fNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #lNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryAddressinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryEmailinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryNumberinput {
        margin-right: 80px;
        float: right;
        width: 210px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 200px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .navigationBar {
        height: 63px;
        background-color: black;
        width: 800px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 20px;
        display: block;
        text-align: center;
        font-size: 2.5em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: 1.8em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 20px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 800px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    .specialInstructions {
        background-color: silver;
        width: 560px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 500px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 560px;
        height: 330px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #fNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #lNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryAddressinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryEmailinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryNumberinput {
        margin-right: 80px;
        float: right;
        width: 210px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 200px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .navigationBar {
        height: 48px;
        background-color: black;
        width: 600px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 20px;
        display: block;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: 1em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 20px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 600px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    .specialInstructions {
        background-color: silver;
        width: 560px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 500px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 560px;
        height: 330px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #fNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #lNameinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryAddressinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryEmailinput {
        margin-right: 80px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryNumberinput {
        margin-right: 80px;
        float: right;
        width: 210px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 200px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .navigationBar {
        height: 44px;
        background-color: black;
        width: 400px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 20px;
        display: block;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: .9em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 8px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 400px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    .specialInstructions {
        background-color: silver;
        width: 400px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 350px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 400px;
        height: 350px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #fNameinput {
        margin-right: 20px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #lNameinput {
        margin-right: 20px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryAddressinput {
        margin-right: 20px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
    }
    #deliveryEmailinput {
        margin-right: 20px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
    }
    #deliveryNumberinput {
        margin-right: 20px;
        float: right;
        width: 210px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 125px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .navigationBar {
        height: 41px;
        background-color: black;
        width: 300px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .unorderedLists {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .Part1 .WebpageName {
        float: left;
        color: white;
        margin-top: -1px;
        padding: 13px 10px;
        display: block;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    .Part2 {
        float: right;
    }
    .Part2 a {
        color: white;
        font-size: .7em;
        font-weight: 100;
        font-family: 'Oxygen', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 5px;
        text-decoration: none;
        cursor: pointer;
    }
    .Part2 a:hover {
        background-color: gray;
    }
    .midPart {
        position: relative;
        width: 300px;
        height: 100%;
        margin-top: -33px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2d302e;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        padding-top: 30px;
        color: white;
        text-decoration: underline;
        font-family: 'Crimson Text', serif;
    }
    .detailsOfRestaurant {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .moreInfo {
        font-family: 'Crimson Text', serif;
        color: white;
    }
    .menuInfo {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #menuInfo {
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        color: white;
    }
    .textSpecialPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .SpecialPizza {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
        max-width: 270px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .SpecialPizza th {
        padding: 12px 15px;
    }
    .SpecialPizza td {
        padding: 12px 15px;
    }
    .textMakeYourOwnPizza {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: peachpuff;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline gray;
    }
    .textCrust {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .Crust {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
        max-width: 270px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .Crust th {
        padding: 12px 15px;
    }
    .Crust td {
        padding: 12px 15px;
    }
    .textChoiceOfSauce {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .choiceOfSauce {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
        max-width: 270px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .choiceOfSauce th {
        padding: 12px 15px;
    }
    .choiceOfSauce td {
        padding: 12px 15px;
    }
    .textTopping {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: 'Crimson Text', serif;
        text-decoration: underline;
    }
    .determineToppings {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.6em;
        max-width: 270px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-family: sans-serif;
        background-color: #c1d1d6;
        color: black;
        text-align: left;
        font-weight: bold;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    .determineToppings th {
        padding: 12px 15px;
    }
    .determineToppings td {
        padding: 12px 15px;
    }
    .hr {
        margin-top: 30px;
        height: 2px;
        background-color: black;
    }
    .addPizza {}
    .specialInstructions {
        background-color: silver;
        width: 270px;
        height: 230px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #specialInstructions {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
    }
    #specialInstructionsinput {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 230px;
        height: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    .deliveryDetails {
        background-color: silver;
        width: 270px;
        height: 350px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    #fName {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    #fNameinput {
        margin-right: 10px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #lName {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    #lNameinput {
        margin-right: 10px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryAddress {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    #deliveryAddressinput {
        margin-right: 10px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryEmail {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    #deliveryEmailinput {
        margin-right: 10px;
        float: right;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    #deliveryNumber {
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    #deliveryNumberinput {
        margin-right: 10px;
        float: right;
        width: 120px;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        border-radius: 5px;
        outline: 0;
        border: 0;
    }
    button {
        margin-left: 62px;
        margin-top: -10px;
        font-size: 1.75em;
        font-family: 'Fira Sans', sans-serif;
        background-color: black;
        color: white;
        outline: 0;
        border: 0;
    }
    button:hover {
        background-color: black;
        color: gray;
    }
    footer {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 100px;
        text-align: center;
        background-color: black;
        color: lightgrey;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
}